<a href="https://colab.research.google.com/github/omarhatem97/ANER_DEV/blob/main/Data_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dataset Preprocessing
=====================





This dataset is coming from wikepedia articles.

Dataset has 50 Difeerent classes, summarized down below 

Source: https://fsalotaibi.kau.edu.sa/Pages-Arabic-NE-Corpora.aspx

In [ ]:

# Here we download the dataset

! gdown --id 1uq33al1VNubM7eA5CEMlQstpBohRNPky
!gdown --id 1w_AwpWAdi_IPWYlV0VzFE6WL7doWopiL


!gdown --id 14E2KGO5qNWDPlWtwRJR0gqhhzlUhB9z6




# Aqmar 
!gdown --id 1SlmQpysO72B-fy23asTIWsb0kEq2zx2r

Downloading...
From: https://drive.google.com/uc?id=1uq33al1VNubM7eA5CEMlQstpBohRNPky
To: /content/WikiFANE_Gold_2014_500K.csv
7.18MB [00:00, 43.7MB/s]
Downloading...
From: https://drive.google.com/uc?id=1w_AwpWAdi_IPWYlV0VzFE6WL7doWopiL
To: /content/WikiFANE_Gold_2014_500K.txt
7.69MB [00:00, 35.9MB/s]
Downloading...
From: https://drive.google.com/uc?id=14E2KGO5qNWDPlWtwRJR0gqhhzlUhB9z6
To: /content/NewsFANE_Gold_2014_170K.txt
2.65MB [00:00, 84.3MB/s]
Downloading...
From: https://drive.google.com/uc?id=1SlmQpysO72B-fy23asTIWsb0kEq2zx2r
To: /content/Football.txt
100% 30.6k/30.6k [00:00<00:00, 52.7MB/s]

In [ ]:
import pandas as pd 
from tqdm import tqdm
import csv

Here we clean the dataset, by removing newlines and some unicode characters,

And finally we insert newline token between sentences

In [ ]:


# dataset = 'WikiFANE_Gold_2014_500K.tx'
# out_name = 'dataset_1.0.txt '

# dataset = 'NewsFANE_Gold_2014_170K.txt'
# out_name = 'ANER_dataset.txt'

dataset = 'Football.txt'
out_name = 'aqmar_test.txt'



lines =[]
with open(dataset,'r', encoding='utf-8')as f:
  with open(out_name,'w',encoding='utf-8') as out:
    for line in f:

      line = line.replace(u'\u200e','')
      line = line.replace(u'\ufeff','')
      line = line.strip('\n')

      parts = line.split('\t')
      # parts = line.split(' ')

      # if this an empty line, add newline token
      if len(parts[0]) == 0:
        parts[0] = '[NEWLINE]'
        out.write(f'{parts[0]}\n')

      else: 
         out.write(f'{parts[0]} {parts[1]}\n')

      lines.append(parts)

Here we save the dataset as a csv file, and then read it to do some analysis on it

In [ ]:

df = pd.DataFrame(lines)

df.to_csv('ANER_dataset.csv',index=False, header=None, encoding='utf-8',mode = 'w')

csv_data = pd.read_csv('ANER_dataset.csv',encoding='utf-8', header=None,quoting=csv.QUOTE_NONE, error_bad_lines=False)

b'Skipping line 40: expected 2 fields, saw 3\nSkipping line 258: expected 2 fields, saw 3\nSkipping line 1097: expected 2 fields, saw 3\n'

We can see here that we have over 500k tokens

In [ ]:


print(csv_data.shape)
print(csv_data.head(10))

(2754, 2)
        0        1
0     كرة  B-MISS1
1   القدم   I-MIS1
2   رياضة        O
3  جماعية        O
4       ،        O
5     يضم        O
6    فريق        O
7     كرة   B-MIS1
8   القدم   I-MIS1
9      11        O

This is a list with all the classes we have

In [ ]:
classes = csv_data.apply(set)
classes[1]

{'B-LOC',
 'B-MIS0',
 'B-MIS1',
 'B-MIS2',
 'B-MISS1',
 'B-ORG',
 'B-PER',
 'I-LOC',
 'I-MIS0',
 'I-MIS1',
 'I-MIS2',
 'I-ORG',
 'I-PER',
 'O',
 'OO',
 nan}

Here we get the frequenct of each class seperatley, to get insight about the weight of each class

In [ ]:
class_freq = dict()


for  row in tqdm(csv_data[1]):
  cls = str(row)
  if cls in class_freq.keys():
    class_freq[cls] += 1
  else:
    class_freq[cls] = 1


class_freq = sorted(class_freq.items(), key=lambda x:x[1], reverse=True)


for cls, freq in class_freq:
  print(f' {cls}: {freq}')

100%|██████████| 2754/2754 [00:00<00:00, 587394.52it/s]

 O: 2451
 nan: 96
 I-ORG: 47
 B-ORG: 30
 B-MIS1: 24
 B-LOC: 24
 I-MIS1: 20
 I-MIS0: 17
 B-MIS0: 11
 B-MIS2: 11
 I-LOC: 8
 B-PER: 5
 I-MIS2: 4
 I-PER: 4
 B-MISS1: 1
 OO: 1

Here we just make sure that the sum of all class tokens equals the total number of tokens in the dataset

In [ ]:
df = pd.DataFrame(class_freq)


print(df.sum(axis=1).sum())
print(len(csv_data))

172839
172839

Here we just save the classes frequencies

In [ ]:
with open('classes.txt','w') as f:
  for i in tqdm(class_freq):
    f.write(f'{i[0]}: {i[1]} \n')

100%|██████████| 16/16 [00:00<00:00, 58203.70it/s]

Classes Summary
-------------

We have 50 difeerent classes with 5 different categories




Weapone
--------

- Blunt
- Exploding
- Nuclear
- Projectile
- Sharp
- Shooting

Miscellaneous
--------------
- Chemical (only 7 tokens)
- Drug (100 tokens )
- Food (around 150 token)
- Hardware
- Movie
- Software
- Sound
- Celestial
- Book
- Air (airplanes)


PERSON
--------------
- Artist
- Politician 
- Businessperson
- Engineer
- Group
- Athlete
- Lawyer
- Other_PER
- Police
- Scientist
- Religious_PER


LOCATION
--------------
- Continent
- County-or-District
- GPE-Cluster
- Land
- Land-Region-Natural
- Nation
- Path
- Population-Center
- State-or-Province
- Subarea-Facility
- Water
- Water-Body
- Building-Grounds
- Airport


ORGANIZATION
--------------
- Commercial (company names)
- Educational (shcools, colleges, etc)
- Entertainment
- Government
- Non-Governmental
- Media
- Medical-Science
- Plant
- Religious_ORG
- Sports

Finally we save the dataset to drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!cp ANER_dataset.csv ANER_dataset.txt drive/MyDrive/Datasets/